[ToB Audit] #4: Saving large JSON integers could result in interoperability issues

## Description
The parsing of JSON integers generated by the deposit tool differs from mainstream implementations such as NodeJS and jq.
The JSON standard warns about certain "interoperability problems" in numeric types outside the range [-(2**53)+1, (2**53)-1]. This issue is caused by some widely used JSON implementations employing IEEE 754 (double precision) numbers to implement integer numbers. For instance, if the deposit tool saves the following amount value "1152921504606846976" (2**60), it is serialized as the expected value 1152921504606846976.
Figure 4.1 Part of a JSON file produced by the deposit tool. However, NodeJS 10 and jq 1.5 parse it as 1152921504606847000.

## Exploit Scenario
Alice uses the deposit tool to generate some JSON files. Later, a third-party software reads Alice's JSON but interprets this number differently than the deposit tool interpretation, causing unexpected behavior for Alice.

## Recommendation
Short term, use strings instead of JSON numeric values to implement the amount field.
Long term, provide a recommended JSON implementation to use when interacting with the JSON files generated by the deposit tool.

## References
* [RFC 8259, Section 6: numbers in JSON](https://tools.ietf.org/html/rfc8259%23section-6)

Resolved via #107 